header
	a.text-decoration-none(href='/')
		.my-5.text-center
			img(src='/static/img/mt-avatar.png' alt='' width='50' height='50')
			p.fs-6.text-uppercase.text-muted.mt-1.blog-name-spacing Matt Thurmond