main-header
	a.text-decoration-none(href="/home" style='color: #212529;')
		div.d-flex.flex-column.justify-content-center.align-items-center.m-5.pt-2
			div
				.display-5.fw-bold.display-5.mt-2 Min blog
			div
				.display-6.mt-2.text-center.px-2 A calmer blog with no distractions.