doctype html
html(lang="en")
	head
		if title	
			title #{title}
		else 
			title Matt Thurmond
		
		// favicon
		link(rel='icon' type='image/png' sizes='16x16' href='/static/img/mt-avatar.png')
		
		// meta tags
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		
		// bootstrap CSS for styling and layout
		link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
		
		// trix
		link(rel='stylesheet' type='text/css' href='/static/stylesheets/trix.css')
		script(type='text/javascript' src='/static/js/trix.js')
		
		// app js & css
		script(type='text/javascript' src='/static/js/app.js')
		link(rel='stylesheet' type='text/css' href='/static/stylesheets/style.css')

		// quill
		link(rel='stylesheet' type='text/css' href='/quill/quill.snow.css')
		script(type='text/javascript' src='/quill/quill.js')
		
	body
		block content
		
		// bootstrap js for modals and other components
		script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')