extends layout

block content
	.container-md.pt-3.pb-5.mb-5(style='max-width: 45rem;')
		form(action=formAction, method="post")
					
			if page == 'register'
				// name
				.mb-5
				label.form-label(for='name') Full name
				input#name.form-control(type='text' name='name' required)

			// email
			.mb-5
			label.form-label(for='email') Email
			input#email.form-control(type='email' name='email' required)

			// password
			.mb-5
			label.form-label(for='password') Password
			input#password.form-control(type='password' name='password' required)

			// button
			.mb-5
			button.btn.btn-primary(type='submit')= buttonLabel