extends layout-compact

block content
    .container-md.pb-1.px-0.mb-1(style='max-width: 60rem;')
        form#blog-form(action="/new", method="post" novalidate)
            // title
            .mb-5
            textarea#blog-post-title.form-control(rows='1' name='title' placeholder="Title" required)

            // quill
            input#quill-input(name='body' type='hidden')
            #editor

            // trix
            //- .mb-2
            //- input#x(type='hidden' name='body2')
            //- trix-editor.trix-content.pt-0(input='x' placeholder="Share something...")
            //- #blog-invalid-message.d-none Please enter post content.

            // status
            .mb-5
            label.form-label(for='status') Status
            select#status.form-control.form-select(type='status' name='status')
                option(value='live' selected) Live
                option(value='draft') Draft

            // action buttons
            .text-center.mt-5.blog-sticky
                input.blog-cancel.btn.btn-secondary(type='button' name='cancel-new-post' value='Cancel')
                button.btn.btn-primary.mx-3(type='submit' name='submit-post') Save