extends layout

block content
    .container-md.pt-3.pb-5.mb-5(style='max-width: 45rem;')
        form(action="/new", method="post")
            // title
            .mb-5
            label.form-label(for='title') Title
            input#title.form-control(type='title' name='title')

            // body
            .mb-5
            label.form-label(for='body') Body
            input#x(type='hidden' name='body')
            trix-editor.trix-content(input='x')

            // status
            .mb-5
            label.form-label(for='status') Status
            select#status.form-control.form-select(type='status' name='status')
                option(value='live' selected) Live
                option(value='draft') Draft

            // action buttons
            .text-center.mt-5.blog-sticky
                input.btn.btn-secondary(type='button' name='cancel' value='Cancel' onClick="window.location.href='/';")
                button.btn.btn-primary.mx-3(type='submit') Save