.blog-name-spacing {
  letter-spacing: 0.1rem;
}

.blog-alert-draft {
  border-style: solid; 
  border-width: thin; 
  border-color: lightgrey;
  background-color: #f8f9fa; 
  margin-left: auto; 
  margin-right: auto; 
  width: 44em;
  font-weight: bold;
  text-align: center;
}

.blog-pagination-button {
  font-weight: 500;
  background-color: #ffffff;
  border-color: #383838;
}

.blog-sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 2em 0em;
  background-color: white;
  z-index: 1;
}