.blog-name-spacing {
  letter-spacing: 0.1rem;
}

.blog-alert-draft {
  border-style: solid; 
  border-width: thin; 
  border-color: lightgrey;
  background-color: #f8f9fa; 
  margin-left: auto; 
  margin-right: auto; 
  width: 44em;
  font-weight: bold;
  text-align: center;
}

.blog-pagination-button {
  font-weight: 500;
  background-color: #ffffff;
  border-color: #383838;
}

.blog-sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 2em 0em;
  background-color: white;
  z-index: 1;
}

/* all declarations other than 'border-color' are for styling the "!" image */
.blog-invalid-input {
  border-color: #dc3545 !important;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMiAxMicgd2lkdGg9JzEyJyBoZWlnaHQ9JzEyJyBmaWxsPSdub25lJyBzdHJva2U9JyNkYzM1NDUnPjxjaXJjbGUgY3g9JzYnIGN5PSc2JyByPSc0LjUnLz48cGF0aCBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBkPSdNNS44IDMuNmguNEw2IDYuNXonLz48Y2lyY2xlIGN4PSc2JyBjeT0nOC4yJyByPScuNicgZmlsbD0nI2RjMzU0NScgc3Ryb2tlPSdub25lJy8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.blog-invalid-input + div {
  display: block;
  color: #dc3545;
  font-size: x-large;
  margin-top: 0.1em;
}

/* style title field of new/edit page */
#blog-post-title {
  font-size: xxx-large;
  font-weight: bold;
  text-align: center;
  border-color: white;
  resize: none;
  box-shadow: none;
}

#blog-post-title.is-invalid {
  border-color: #dc3545;
}

/* style body field of new/edit page */
.trix-content {
  font-size: x-large;
  line-height: 1.6;
  border-color: white;
}

/* style body formatting toolbar on new/edit page */
#trix-toolbar-1 {
  padding: 1.5em 1.6em 1em 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

/* add spacing after quill paragraphs */
.ql-editor p {
  margin-bottom: 15px !important;
}